<div>
  <div class="container mt-5">
    <h1 class="text-uppercase text-center mb-4 fw-bolder fs-1">
      {{ routeParam }}
    </h1>
    <div class="row">
      <div class="col-md-3 col-sm-12 px-3">
        <img
          src="https://i.insider.com/64dbc03a5e5d5a00195e93bf?width=400&format=jpeg&auto=webp"
          class="w-100"
        />
        <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
          ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
            >1 hour ago</span
          >
        </p>
        <div>
          <span
            class="fs-5 fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            A Gen Zer and millennial whose monthly car payments exceed their
            housing costs say it's 'stressful' but that they need a car
          </span>
          <br />
          <span class="fs-5 newsDesColor"
            >The proposed law is set to require Russian companies that made
            profits of more than 1 billion rubles each year since 2021 to pay a
            one-off 10% tax.</span
          >
        </div>
      </div>
      <div class="col-md-6 col-sm-12 px-3">
        <img
          src="https://i.insider.com/64dccb885e5d5a00195f19c9?width=1000&format=jpeg&auto=webp"
          class="w-100"
        />
        <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
          ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
            >4 hour ago</span
          >
        </p>
        <div>
          <span
            class="fs-4 fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            China's economy is getting worse as falling prices for new homes add
            to mounting alarms
          </span>
          <br />
          <br />
          <span class="fs-5 newsDesColor"
            >The housing market data followed indicators earlier this week that
            showed retail sales and industrial output slowed.</span
          >
        </div>
      </div>
      <div class="col-md-3 col-sm-12 px-3">
        <img
          src="https://i.insider.com/64dcbc4a4ef9f30019f7ef1a?width=400&format=jpeg&auto=webp"
          class="w-100"
        />
        <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
          ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
            >4 hour ago</span
          >
        </p>
        <div>
          <span
            class="fs-5 fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            Police resorted to guarding ATMs in Ireland after a glitch at the
            country's biggest bank let some people take out over $1,000 of cash
            they didn't have
          </span>
          <br />
          <span class="fs-5 newsDesColor"
            >Bank of Ireland apologized after a technical glitch let customers
            with no money in their accounts transfer up to 500 euros.</span
          >
        </div>
      </div>
    </div>
    <br />
    <hr />
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/600b0163933f110019311186?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64dc9f975e5d5a00195f0280?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64dc8e5b4ef9f30019f7d1a6?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64da91b45e5d5a00195ddb4d?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/600b0163933f110019311186?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64dc9f975e5d5a00195f0280?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64dc8e5b4ef9f30019f7d1a6?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64da91b45e5d5a00195ddb4d?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/600b0163933f110019311186?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64dc9f975e5d5a00195f0280?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64dc8e5b4ef9f30019f7d1a6?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64da91b45e5d5a00195ddb4d?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/600b0163933f110019311186?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64dc9f975e5d5a00195f0280?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64dc8e5b4ef9f30019f7d1a6?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64da91b45e5d5a00195ddb4d?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
