div#mediaRoute {
  background-color: #f2f2f2;
}
div.bgCard1 > div > h5.card-title {
  font-weight: 700;
  font-size: 28px;
  margin-top: 5vh;
  margin-bottom: 4vh;
}
div.bgCard1 > div > p.card-text {
  font-size: 19px;
  margin-bottom: 25px;
  margin-top: 7px;
}
div.bgCard2 > div > h5.card-title {
  font-weight: 700;
  font-size: 23px;
  margin-top: 2vh;
}
div.bgCard2 > div > p.card-text {
  font-size: 18px;
  margin-bottom: 38px;
  margin-top: 15px;
}
input#mainSearchInput {
  width: 400px;
  border-radius: 0;
  outline: none;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
}
div#searchList {
  width: 400px;
  margin: 0 auto;
  font-family: poppinslight;
  margin-top: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 999;
}
div#searchList h5.mb-1 {
  font-size: 15px;
}
div#searchList p.mb-1 {
  font-size: 11px;
}
.swiper-slide img {
  width: 100% !important;
}
img.sliderImg {
  cursor: pointer;
}
swiper.mySwiper {
  width: 100% !important;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #fff;
  color: #285372 !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  top: 40%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  font-weight: 900;
}
.swiper-button-next {
  right: 0;
  padding-left: 5px;
}
.swiper-button-prev {
  left: 0;
  padding-right: 5px;
}
div.elevatedCard p.couponDescription {
  font-size: 1rem !important;
  font-weight: 400;
  margin-top: 5px;
  text-transform: capitalize;
}
div.elevatedCard img.cardImage {
  width: 120px !important;
  height: 100px;
  position: relative;
  top: 25px;
}
div.storesCard > img {
  width: 50% !important;
  margin: 0 auto;
  margin-top: 10px;
}
div.elevatedCard {
  background-color: transparent;
  border: none;
}
div.elevatedCard div.card-body {
  width: 96%;
  margin: 0 auto;
  position: relative;
  top: -3vh;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
}
div.bestOffersCard {
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
}
div.absoluteHeader {
  position: absolute;
  width: 100%;
  background: rgba(17, 17, 17, 0.54);
  padding-top: 8px !important;
  padding-bottom: 9px !important;
  font-size: 1.05em;
}
div.absoluteHeader > p.card-text {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}
fa-icon.largeBlueIcons {
  transform: scale(2.5);
  color: #285372;
}
input#subscriptionInput:focus {
  border: none;
  // border:2px solid #212529 !important;
  // border-radius: 0 !important;
  box-shadow: none;
}
input#subscriptionInput {
  border-radius: 0 !important;
}
button#subscription-box {
  font-size: 1.1em !important;
  letter-spacing: 0.1em;
}
ul.horizontalNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 96vw;
}
ul.horizontalNav > li {
  color: #285372;
  border-color: #285372;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 12px;
  font-size: 0.9em;
  cursor: pointer;
  min-width: 120px;
  margin-bottom: 9px;
}
ul.horizontalNav > li.active {
  color: white;
  border-color: #285372;
  background-color: #285372;
}
.w-40 {
  width: 40% !important;
}
fa-icon.arrowRight {
  margin-left: 5px;
  vertical-align: inherit;
}
img.mainFrontImage {
  width: 86vw;
  margin: 0 auto;
  position: relative;
  left: 7vw;
}
