.swiper-slide img {
  width: 100% !important;
}
img.sliderImg {
  cursor: pointer;
}
swiper.mySwiper {
  width: 100% !important;
  overflow-x: hidden;
}
a.navbar-brand {
  font-family: poppinsmedium;
  font-size: 40px;
}
li.nav-item > a.nav-link {
  font-family: poppinsmedium;
  font-size: 17px;
  font-weight: 900;
  padding-left: 22px !important;
  padding-right: 22px !important;
}
