.swiper-slide img {
  width: 100% !important;
}
img.sliderImg {
  cursor: pointer;
}
swiper.mySwiper {
  width: 100% !important;
  overflow-x: hidden;
}
a.navbar-brand {
  font-family: poppinsmedium;
  font-size: 40px;
}
li.nav-item > a.nav-link {
  font-family: poppinsmedium;
  font-size: 17px;
  font-weight: 900;
  padding-left: 22px !important;
  padding-right: 22px !important;
}
button#offCanvasToggler{
  background: transparent;
  border: none;
}
button#offCanvasToggler > fa-icon{
  font-size: 1.4em !important;
}
li.sideMenuListItem{
  line-height: 5em;
}
li.sideMenuListItem > span{
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 0.2em;
}
li.sideMenuListItem > fa-icon{
  font-size: 1.5em;
  color: #096ffa;
}
ul.navbar-nav > li.nav-item:hover{
  cursor: pointer;
}