<div class="container">
  <h2 class="text-center text-uppercase fw-bold">
    BRINGING UP THE LATEST TreNDS
  </h2>
  <br />
  <br />
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div
        class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        [routerLink]="['/blog', 'blogname']"
      >
        <div class="col-md-7 col-sm-12">
          <p class="fs-6">
            <b class="text-primary">Martin </b>wrote on
            <b class="text-black-50">21 Aug</b>
          </p>
          <h4 class="text-capitalize mb-2">
            Fathers day discounts - Coupons for the perfect gift
          </h4>
          <p class="fs-6">
            This is some content from a media component. You can replace this
            with any content and adjust it as needed. This is some content from
            a media component. You can replace this with any content and adjust
            it as needed. This is some content from a media component. You can
            replace this with any content and adjust it as needed. This is some
            content from a media component. You can replace this with any
            content and adjust it as needed. This is some content from a media
            component.
          </p>
        </div>
        <div class="col-md-5 col-sm-12">
          <img
            src="https://i.insider.com/6478c4b3df25670018380171?width=400&format=jpeg&auto=webp"
            alt="Blog image"
          />
        </div>
      </div>
      <div
        class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center" [routerLink]="['/blog', 'blogname']"
      >
        <div class="col-md-7 col-sm-12">
          <p class="fs-6">
            <b class="text-primary">Martin </b>wrote on
            <b class="text-black-50">21 Aug</b>
          </p>
          <h4 class="text-capitalize mb-2">
            Couponing for Families - Budget-Friendly Tips for Parents
          </h4>
          <p class="fs-6">
            This is some content from a media component. You can replace this
            with any content and adjust it as needed. This is some content from
            a media component. You can replace this with any content and adjust
            it as needed. This is some content from a media component. You can
            replace this with any content and adjust it as needed. This is some
            content from a media component. You can replace this with any
            content and adjust it as needed. This is some content from a media
            component.
          </p>
        </div>
        <div class="col-md-5 col-sm-12">
          <img
            src="https://i.insider.com/6477a586df2567001837e6f6?width=400&format=jpeg&auto=webp"
            alt="Blog image"
          />
        </div>
      </div>
      <div
        class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center" [routerLink]="['/blog', 'blogname']"
      >
        <div class="col-md-7 col-sm-12">
          <p class="fs-6">
            <b class="text-primary">Martin </b>wrote on
            <b class="text-black-50">21 Aug</b>
          </p>
          <h4 class="text-capitalize mb-2">
            Fathers day discounts - Coupons for the perfect gift
          </h4>
          <p class="fs-6">
            This is some content from a media component. You can replace this
            with any content and adjust it as needed. This is some content from
            a media component. You can replace this with any content and adjust
            it as needed. This is some content from a media component. You can
            replace this with any content and adjust it as needed. This is some
            content from a media component. You can replace this with any
            content and adjust it as needed. This is some content from a media
            component.
          </p>
        </div>
        <div class="col-md-5 col-sm-12">
          <img
            src="https://i.insider.com/6478c4b3df25670018380171?width=400&format=jpeg&auto=webp"
            alt="Blog image"
          />
        </div>
      </div>
      <div
        class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center" [routerLink]="['/blog', 'blogname']"
      >
        <div class="col-md-7 col-sm-12">
          <p class="fs-6">
            <b class="text-primary">Martin </b>wrote on
            <b class="text-black-50">21 Aug</b>
          </p>
          <h4 class="text-capitalize mb-2 mt-1">
            Couponing for Families - Budget-Friendly Tips for Parents
          </h4>
          <p class="fs-6">
            This is some content from a media component. You can replace this
            with any content and adjust it as needed. This is some content from
            a media component. You can replace this with any content and adjust
            it as needed. This is some content from a media component. You can
            replace this with any content and adjust it as needed. This is some
            content from a media component. You can replace this with any
            content and adjust it as needed. This is some content from a media
            component.
          </p>
        </div>
        <div class="col-md-5 col-sm-12">
          <img
            src="https://i.insider.com/6477a586df2567001837e6f6?width=400&format=jpeg&auto=webp"
            alt="Blog image"
          />
        </div>
      </div>
      <!-- <div class="d-flex border-bottom pb-4 mb-5">
                <div class="flex-grow-1 me-4">
                    <h4 class="text-capitalize mb-2">
                        Fathers day discounts - Coupons for the perfect gift
                    </h4>
                    <p class="fs-6">
                        This is some content from a media component. You can replace this
                        with any content and adjust it as needed. This is some content from
                        a media component. You can replace this with any content and adjust
                        it as needed. This is some content from a media component. You can
                        replace this with any content and adjust it as needed. This is some
                        content from a media component. You can replace this with any
                        content and adjust it as needed. This is some content from a media
                        component.
                    </p>
                </div>
                <div class="flex-shrink-0">
                    <img src="https://i.insider.com/6478c4b3df25670018380171?width=400&format=jpeg&auto=webp"
                        alt="Blog image" />
                </div>
            </div>
            <div class="d-flex border-bottom pb-4 mb-5">
                <div class="flex-grow-1 me-4">
                    <h4 class="text-capitalize mb-2">
                        Couponing for Families - Budget-Friendly Tips for Parents
                    </h4>
                    <p class="fs-6">
                        This is some content from a media component. You can replace this
                        with any content and adjust it as needed. This is some content from
                        a media component. You can replace this with any content and adjust
                        it as needed. This is some content from a media component. You can
                        replace this with any content and adjust it as needed. This is some
                        content from a media component. You can replace this with any
                        content and adjust it as needed. This is some content from a media
                        component.
                    </p>
                </div>
                <div class="flex-shrink-0">
                    <img src="https://i.insider.com/6477a586df2567001837e6f6?width=400&format=jpeg&auto=webp"
                        alt="Blog image" />
                </div>
            </div> -->
    </div>
  </div>
</div>
