<br />
<br />
<div class="container">
  <h2 class="text-center text-capitalize fw-bold">
    Casper Coupons & Promo codes <br />
    Aug 2023
  </h2>
  <br />
  <br />
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div
        class="row singleStoreRow pt-3 pb-2 mb-3 cursor-pointer align-items-center border-2"
      >
        <div class="col-md-2 col-sm-12">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
            class="storeImgLeft"
            alt="Store image"
          />
        </div>
        <div class="col-md-8 col-sm-12 ps-4">
          <h4 class="text-capitalize mb-2">
            Children Necklace Collection Starting From $19.95
          </h4>
          <p class="fs-5"><b>Expiry Date:</b> Dec 12, 2024</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="button" class="btn btn-outline-dark">Get Deal</button>
        </div>
      </div>
      <div
        class="row singleStoreRow pt-3 pb-2 mb-3 cursor-pointer align-items-center border-2"
      >
        <div class="col-md-2 col-sm-12">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
            class="storeImgLeft"
            alt="Store image"
          />
        </div>
        <div class="col-md-8 col-sm-12 ps-4">
          <h4 class="text-capitalize mb-2">
            Children Necklace Collection Starting From $19.95
          </h4>
          <p class="fs-5"><b>Expiry Date:</b> Dec 12, 2024</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="button" class="btn btn-outline-dark">Get Deal</button>
        </div>
      </div>
      <div
        class="row singleStoreRow pt-3 pb-2 mb-3 cursor-pointer align-items-center border-2"
      >
        <div class="col-md-2 col-sm-12">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
            class="storeImgLeft"
            alt="Store image"
          />
        </div>
        <div class="col-md-8 col-sm-12 ps-4">
          <h4 class="text-capitalize mb-2">
            Children Necklace Collection Starting From $19.95
          </h4>
          <p class="fs-5"><b>Expiry Date:</b> Dec 12, 2024</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="button" class="btn btn-outline-dark">Get Deal</button>
        </div>
      </div>
      <div
        class="row singleStoreRow pt-3 pb-2 mb-3 cursor-pointer align-items-center border-2"
      >
        <div class="col-md-2 col-sm-12">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
            class="storeImgLeft"
            alt="Store image"
          />
        </div>
        <div class="col-md-8 col-sm-12 ps-4">
          <h4 class="text-capitalize mb-2">
            Children Necklace Collection Starting From $19.95
          </h4>
          <p class="fs-5"><b>Expiry Date:</b> Dec 12, 2024</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="button" class="btn btn-outline-dark">Get Deal</button>
        </div>
      </div>
      <div
        class="row singleStoreRow pt-3 pb-2 mb-3 cursor-pointer align-items-center border-2"
      >
        <div class="col-md-2 col-sm-12">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
            class="storeImgLeft"
            alt="Store image"
          />
        </div>
        <div class="col-md-8 col-sm-12 ps-4">
          <h4 class="text-capitalize mb-2">
            Children Necklace Collection Starting From $19.95
          </h4>
          <p class="fs-5"><b>Expiry Date:</b> Dec 12, 2024</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="button" class="btn btn-outline-dark">Get Deal</button>
        </div>
      </div>
      <div
        class="row singleStoreRow pt-3 pb-2 mb-3 cursor-pointer align-items-center border-2"
      >
        <div class="col-md-2 col-sm-12">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
            class="storeImgLeft"
            alt="Store image"
          />
        </div>
        <div class="col-md-8 col-sm-12 ps-4">
          <h4 class="text-capitalize mb-2">
            Children Necklace Collection Starting From $19.95
          </h4>
          <p class="fs-5"><b>Expiry Date:</b> Dec 12, 2024</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="button" class="btn btn-outline-dark">Get Deal</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 text-center fs-5 pl-5 pr-2 pt-4">
      <p>
        <b class="fs-4">Casper</b> is a dedicated Lookout window was established
        in 2016 with a mission to consummate the home redesign insight. We had
        caught wind of so many home remodel bad dreams and as experienced
        innovation chiefs, we realized that there must be an answer. Along with
        master modelers, planners and general workers for hire, we re-created
        the home remodel measure bringing about a superior method to design,
        plan, assemble and oversee projects.
      </p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-9 col-sm-12"></div>
  </div>
  <div class="row">
    <div class="col-md-9 col-sm-12"></div>
  </div> -->
</div>
<br />
