<div id="storeRoute">
  <!-- <br />
  <br /> -->
  <div class="container">
    <!-- <h2 class="text-center text-capitalize fw-bold">
      Casper Coupons & Promo codes <br />
      Aug 2023
    </h2>
    <br />
    <br /> -->
    <div class="row">
      <div class="col-md-3 col-sm-12 text-center fs-5">
        <img
          src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
          class="storeImageLeft"
          alt="Store Image"
        />
        <br />
        <h4 class="text-capitalize mb-2 text-start my-2">
          Today's Casper Coupons & Promo codes for Aug 2023
        </h4>
        <p class="mt-3 text-start fs-6">
          Save with our 30 active Casper coupon codes
        </p>
        <div class="card pt-3 pb-2 px-2">
          <div class="card-body text-start">
            <h5 class="card-title">Casper Discount Summary</h5>
            <br />
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between fs-6">
                  <span>Exclusive Offers</span>
                  <span>1</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between fs-6">
                  <span>Promo Codes</span>
                  <span>8</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between fs-6">
                  <span>Verified Offers</span>
                  <span>7</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between fs-6">
                  <span>New Coupons</span>
                  <span>3</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between fs-6">
                  <span>Total Offers</span>
                  <span>30</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <br />
        <div class="card py-3 px-2">
          <div class="card-body text-start">
            <h5 class="card-title">Save with adidas coupon codes on Reddit</h5>
            <p class="card-text mt-3 fs-6">
              Subreddits are a great place to source adidas coupon codes. You
              can find subreddits dedicated explicitly to sneaker culture and
              shopping. Reddit users frequently unload single-use coupons if
              they cannot use them for themselves. These will be coupons near
              the end of their validity.<br /><br />
              You don't have to be a Redditor to read posts, but you must be one
              to comment. To find these savings, go onto reddit.com. Search up
              keywords like "adidas" followed by "coupon" or something
              similar.<br /><br />
              The coupons you find are often "first come first served." If
              you're lucky and find one that works, be sure to use it quickly!
              Otherwise, head back here for frequently updated coupons.
            </p>
          </div>
        </div>
        <br />
        <div class="card pt-3 pb-1 px-2">
          <div class="card-body text-start">
            <h5 class="card-title">Share It</h5>
            <p class="card-text mt-4 fs-6">
              <fa-icon
                [icon]="faFacebook"
                size="2x"
                class="cursor-pointer fbIconColor me-3"
              ></fa-icon>
              <fa-icon
                [icon]="faTwitter"
                size="2x"
                class="cursor-pointer twitterIconColor"
              ></fa-icon>
            </p>
          </div>
        </div>
        <br />
        <div class="card py-3 px-2">
          <div class="card-body text-start">
            <h5 class="card-title">About Casper</h5>
            <p class="card-text mt-3 fs-6">
              Founded in 1949, Casper is the second-largest footwear brand in
              the world. Casper offers sports and leisure apparel and footwear
              with an iconic three-stripes logo. <br /><br />This company with
              the coolest brand never stops moving forward. Innovations like
              Boost technology and lightweight shoes have kept Casper ahead.<br /><br />
              Casper even discusses with athletes their needs and preferences.
              Shoes are then produced with these requirements in mind. Sports
              fans wear the shoes the stars wear and had input in designing.
              <br /><br />Combine the cool, the technology, and the sports
              expertise with the discounts. Then add in a 2023 Casper coupon
              code for the complete package.
            </p>
          </div>
        </div>
        <br />
        <div class="card pt-3 pb-1 px-2">
          <div class="card-body text-start">
            <h5 class="card-title">Related Stores</h5>
            <p class="card-text mt-4 fs-6">
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                ASOS
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                BackCountry
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                Chewy
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                Adidas
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                Amazon
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                ASOS
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                BackCountry
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                Chewy
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                Adidas
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                Amazon</button
              ><button
                type="button"
                class="btn btn-outline-secondary mb-3 me-2"
              >
                ASOS
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                BackCountry
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                Chewy
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                Adidas
              </button>
              <button type="button" class="btn btn-outline-secondary mb-3 me-2">
                Amazon
              </button>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-12">
        <br />
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2 position-relative"
        >
          <div class="ribbon-2 position-absolute top-0">Best Coupon</div>
          <div class="col-md-2 col-sm-12 text-center">
            <!-- <span
              class="position-absolute top-0 translate-middle badge rounded-pill bg-danger"
            >
              99+
            </span> -->
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-dark mt-2 rounded-pill fw-bolder px-4 py-3 fs-6"
              >
                SHOW COUPON CODE
              </button>
            </div>
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-dark mt-2 rounded-pill fw-bolder px-4 py-3 fs-6"
              >
                SHOW COUPON CODE
              </button>
            </div>
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-outline-dark mt-2 rounded-pill fw-bolder px-5 py-3 fs-6"
              >
                AVAIL DEAL
              </button>
            </div>
          </div>
        </div>
        <div
          class="bg-white pt-3 pb-4 mb-3 cursor-pointer text-center border-2 px-5 pb-3"
        >
          <h6 class="mt-3">
            Sign up today for free adidas coupons and promo codes
          </h6>
          <br />
          <div class="input-group input-group-lg border-0 px-3">
            <input
              type="text"
              class="form-control border-3 rounded-0 fs-6 shadow-none"
              aria-describedby="inputGroup-sizing-lg"
              placeholder="Email address"
            />
            <span
              class="input-group-text bg-dark text-white fs-6 rounded-0"
              id="inputGroup-sizing-lg"
              >SUBSCRIBE</span
            >
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-dark mt-2 rounded-pill fw-bolder px-4 py-3 fs-6"
              >
                SHOW COUPON CODE
              </button>
            </div>
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-outline-dark mt-2 rounded-pill fw-bolder px-5 py-3 fs-6"
              >
                AVAIL DEAL
              </button>
            </div>
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-dark mt-2 rounded-pill fw-bolder px-4 py-3 fs-6"
              >
                SHOW COUPON CODE
              </button>
            </div>
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-dark mt-2 rounded-pill fw-bolder px-4 py-3 fs-6"
              >
                SHOW COUPON CODE
              </button>
            </div>
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-dark mt-2 rounded-pill fw-bolder px-4 py-3 fs-6"
              >
                SHOW COUPON CODE
              </button>
            </div>
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-outline-dark mt-2 rounded-pill fw-bolder px-5 py-3 fs-6"
              >
                AVAIL DEAL
              </button>
            </div>
          </div>
        </div>
        <h5 class="fw-bold my-4 pt-2">
          Expired adidas coupon codes, some may still be working
        </h5>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-dark mt-2 rounded-pill fw-bolder px-4 py-3 fs-6"
              >
                SHOW COUPON CODE
              </button>
            </div>
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-dark mt-2 rounded-pill fw-bolder px-4 py-3 fs-6"
              >
                SHOW COUPON CODE
              </button>
            </div>
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-dark mt-2 rounded-pill fw-bolder px-4 py-3 fs-6"
              >
                SHOW COUPON CODE
              </button>
            </div>
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-dark mt-2 rounded-pill fw-bolder px-4 py-3 fs-6"
              >
                SHOW COUPON CODE
              </button>
            </div>
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-dark mt-2 rounded-pill fw-bolder px-4 py-3 fs-6"
              >
                SHOW COUPON CODE
              </button>
            </div>
          </div>
        </div>
        <div
          class="row singleStoreRow bg-white pt-3 pb-4 mb-3 cursor-pointer align-items-center border-2"
        >
          <div class="col-md-2 col-sm-12 text-center">
            <span class="fs-4 fw-bolder offerBold">25%</span><br />
            <span class="fs-4 fw-bolder offerBold">Off</span><br />
            <span class="text-bg-light fw-semibold py-2 px-3 font85">CODE</span>
          </div>
          <div class="col-md-7 col-sm-12 ps-4">
            <h4 class="text-capitalize couponTitle">
              Children Necklace Collection Starting From $19.95
            </h4>
            <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
          </div>
          <div class="col-md-3 col-sm-12 text-center">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-dark mt-2 rounded-pill fw-bolder px-4 py-3 fs-6"
              >
                SHOW COUPON CODE
              </button>
            </div>
          </div>
        </div>
        <h5 class="fw-bold my-4 pt-2">Frequently asked questions</h5>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed fw-bold shadow-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                Is there any Casper discount for teachers?
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Yes, teachers can save 30% both online and in-store and 20% at
                factory outlets on their orders at adidas. You can verify your
                status online under "Company Info" in the footer of the adidas
                website. Confirm your email address if prompted. You will then
                receive your adidas discount code.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed fw-bold shadow-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Is there any Casper discount for students?
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Yes, adidas offers a student discount for 30% off. To receive
                the discount, you must register and verify your student status
                through Unidays. Luckily, you can do all this on the adidas site
                by using the "Student Discount" link at the bottom of any page.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed fw-bold shadow-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                How can I get Casper healthcare worker discount?
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                As a healthcare worker you can easily get your special 30% off
                online and in-store and 20% off at factory outlets. All you need
                to do is verify at checkout or do so via the "Healthcare
                Discount" link at adidas.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
    <div class="col-md-9 col-sm-12">
      <div
        class="row singleStoreRow pt-3 pb-2 mb-3 cursor-pointer align-items-center border-2"
      >
        <div class="col-md-2 col-sm-12">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
            class="storeImgLeft"
            alt="Store image"
          />
        </div>
        <div class="col-md-8 col-sm-12 ps-4">
          <h4 class="text-capitalize mb-2">
            Children Necklace Collection Starting From $19.95
          </h4>
          <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="button" class="btn btn-outline-dark mt-2">GET REWARD</button>
        </div>
      </div>
      <div
        class="row singleStoreRow pt-3 pb-2 mb-3 cursor-pointer align-items-center border-2"
      >
        <div class="col-md-2 col-sm-12">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
            class="storeImgLeft"
            alt="Store image"
          />
        </div>
        <div class="col-md-8 col-sm-12 ps-4">
          <h4 class="text-capitalize mb-2">
            Children Necklace Collection Starting From $19.95
          </h4>
          <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="button" class="btn btn-outline-dark mt-2">GET REWARD</button>
        </div>
      </div>
      <div
        class="row singleStoreRow pt-3 pb-2 mb-3 cursor-pointer align-items-center border-2"
      >
        <div class="col-md-2 col-sm-12">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
            class="storeImgLeft"
            alt="Store image"
          />
        </div>
        <div class="col-md-8 col-sm-12 ps-4">
          <h4 class="text-capitalize mb-2">
            Children Necklace Collection Starting From $19.95
          </h4>
          <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="button" class="btn btn-outline-dark mt-2">GET REWARD</button>
        </div>
      </div>
      <div
        class="row singleStoreRow pt-3 pb-2 mb-3 cursor-pointer align-items-center border-2"
      >
        <div class="col-md-2 col-sm-12">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
            class="storeImgLeft"
            alt="Store image"
          />
        </div>
        <div class="col-md-8 col-sm-12 ps-4">
          <h4 class="text-capitalize mb-2">
            Children Necklace Collection Starting From $19.95
          </h4>
          <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="button" class="btn btn-outline-dark mt-2">GET REWARD</button>
        </div>
      </div>
      <div
        class="row singleStoreRow pt-3 pb-2 mb-3 cursor-pointer align-items-center border-2"
      >
        <div class="col-md-2 col-sm-12">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
            class="storeImgLeft"
            alt="Store image"
          />
        </div>
        <div class="col-md-8 col-sm-12 ps-4">
          <h4 class="text-capitalize mb-2">
            Children Necklace Collection Starting From $19.95
          </h4>
          <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="button" class="btn btn-outline-dark mt-2">GET REWARD</button>
        </div>
      </div>
      <div
        class="row singleStoreRow pt-3 pb-2 mb-3 cursor-pointer align-items-center border-2"
      >
        <div class="col-md-2 col-sm-12">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/c/Casper.png"
            class="storeImgLeft"
            alt="Store image"
          />
        </div>
        <div class="col-md-8 col-sm-12 ps-4">
          <h4 class="text-capitalize mb-2">
            Children Necklace Collection Starting From $19.95
          </h4>
          <p class="fs-6"><b>Expiry Date:</b> Dec 12, 2024</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="button" class="btn btn-outline-dark mt-2">GET REWARD</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 text-center fs-5 pl-5 pr-2 pt-4">
      <p>
        <b class="fs-4">Casper</b> is a dedicated Lookout window was established
        in 2016 with a mission to consummate the home redesign insight. We had
        caught wind of so many home remodel bad dreams and as experienced
        innovation chiefs, we realized that there must be an answer. Along with
        master modelers, planners and general workers for hire, we re-created
        the home remodel measure bringing about a superior method to design,
        plan, assemble and oversee projects.
      </p>
    </div>
  </div> -->
  </div>
  <br />
</div>
