<div id="categoriesRoute">
  <br />
  <br />
  <div class="container">
    <h2 class="text-center text-capitalize fw-bold">Apparel And Clothing</h2>
    <br />
    <br />
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <label for="categorySelect" class="form-label fw-bold fs-5"
          >Select Category</label
        >
        <input
          class="form-control"
          list="categoriesList"
          id="categorySelect"
          placeholder="Type to search..."
        />
        <datalist id="categoriesList">
          <option value="San Francisco"></option>
          <option value="New York"></option>
          <option value="Seattle"></option>
          <option value="Los Angeles"></option>
          <option value="Chicago"></option>
          <option value="San Francisco"></option>
          <option value="New York"></option>
          <option value="Seattle"></option>
          <option value="Los Angeles"></option>
          <option value="Chicago"></option>
          <option value="San Francisco"></option>
          <option value="New York"></option>
          <option value="Seattle"></option>
          <option value="Los Angeles"></option>
          <option value="Chicago"></option>
          <option value="San Francisco"></option>
          <option value="New York"></option>
          <option value="Seattle"></option>
          <option value="Los Angeles"></option>
          <option value="Chicago"></option>
        </datalist>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="row">
          <div
            class="col-sm-12 col-md-3 mb-4 cursor-pointer"
            [routerLink]="['/store', 'storename']"
          >
            <div class="card categoriesCard shadow">
              <img
                src="https://coupons.businessinsider.com/images/256x//images/a/Ancestry_com_Logo.png"
                class="card-img-top"
              />
              <div class="card-body">
                <p class="card-text">Category</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
