<div id="aboutRoute">
  <br />
  <br />
  <div class="container">
    <h1 class="text-center text-capitalize fw-bold">About Us</h1>
    <hr />
    <br />
    <br />
    <h2 class="mb-2">Vision</h2>
    <p class="fs-5">
      To make the shopping experience easy and comfortable for all our beloved
      customers. We aim to bring to you best products from high-notch brands
      with the most updated product details.
    </p>
    <h2 class="mb-2 mt-4">Introduction:</h2>
    <ul class="aboutUList">
      <li>
        <b>Easy access to everything one needs:</b> <br />
        With OUTONBUDGET we stick to our vision of making shopping experience
        easy for the customers. By providing them with the best deals in town on
        most loved items from your favourite brands.
      </li>
      <li class="mt-2">
        <b>How we work:</b> <br />
        Outonbudget is well designed blog post. Where our editors bring you the
        finest quality content that comprises of tips and tricks to make your
        everyday life experiences better. Trending fashion and designs.
        Traveling hacks with most updated itinerary with packages accommodating
        all kinds of travellers.
      </li>
    </ul>
    <h2 class="mb-2 mt-4">Salient Features:</h2>
    <ul class="aboutUList">
      <li>
        <b>Special Offers at Your Fingers Tap.</b> <br />
        The knowledge is what sets us apart from the competition. We write blog
        pieces with advice for people from all walks of life and gather discount
        coupons from across the globe. You may shop in confidence with this!
      </li>
      <li class="mt-2">
        <b>Product Comparison Just Got Easier</b> <br />
        Ever had trouble finding the ideal item at a store? Finding the product
        that best meets your needs may be done quickly and easily with our
        side-by-side product comparison blog entries.
      </li>
      <li class="mt-2">
        <b>Minimise Time and Cost.</b> <br />
        You won't have to waste time doing hours of research since we locate the
        top discounts at well-known retailers.
      </li>
      <li class="mt-2">
        <b>We Compile Global Offers.</b> <br />
        Connect with retailers all over the world and receive limited-time
        discounts by signing up!
      </li>
    </ul>
    <h2 class="mb-2 mt-4">Our mission:</h2>
    <p class="fs-5">
      Hello, my name is Katherine , and like you, I love to shop. What I do best
      and what keeps me going are the interesting, exciting innovations in the
      IT sector, the most recent fashion trends across the globe, or the most
      cutting-edge healthy way to live when travelling to the ends of the
      planet. As a result, I have gained knowledge about the newest fashion
      trends, how to live as a digital nomad, and how to conduct thorough
      research on products before making a purchase.<br /><br />
      But I'm unbending that information shouldn't be held onto. Over the years,
      my research abilities have been of the most use to me; now I want to
      impart that information to you. My group of passionate people who are
      determined to go above and beyond in gathering newer and better strategies
      for making further savings, discovering the finest deals, or simply
      playing with the most recent invention in the
    </p>
  </div>
  <br />
</div>
