<div id="aboutRoute">
  <br />
  <br />
  <div class="container">
    <h1 class="text-center text-uppercase fw-bold">Terms & Conditions</h1>
    <hr />
    <br />
    <br />
    <p class="fs-5">
      Greetings from Outonbudget! The purpose of these terms and conditions is
      to protect your rights and the security of the content gathered from you.
      It also includes details regarding your legal responsibilities and the
      company's business method.<br /><br />
      The agreement's terms and conditions govern how outonbudget's services are
      provided. The terms and conditions stated in this agreement serve as a
      representation of the understanding between "the Company (We, us, our)"
      and the client or user of the services referred to as "you" in the
      agreement. We urge everyone to read the terms and conditions before using
      our services because they are legally enforceable and contain information
      about customers and the entity.
    </p>
    <h2 class="mb-2 mt-4">General:</h2>
    <p class="fs-5">
      You consent to follow the rules and guidelines outlined in this agreement
      by using our services. Please ensure you have read the policy in its
      entirety before using our services or utilizing them in any other way.
      Anyone who breaches the terms and conditions of this agreement, any code
      of behavior, or poses a threat to the firm may have their access to the
      services offered by the company terminated at any time and without prior
      warning.
    </p>
    <h2 class="mb-2 mt-4">Who Can Use The Platform:</h2>
    <p class="fs-5">
      We strive to provide services that are as accessible and inclusive as
      possible, but we also want visitors to the website to browse the site
      safely. So, in compliance with the law, we only allow persons who meet the
      following requirements to access our services.<br /><br />
    </p>
    <ul class="aboutUList">
      <li>You must be at least 13 years old.</li>
      <li>
        We have not terminated your service usage if you violated the agreement
        or policies.
      </li>
      <li>You cannot have a history of sexual offenses.</li>
      <li>You are qualified to use our services under the law.</li>
    </ul>
    <h2 class="mb-2 mt-4">Persons Who Use Our Services:</h2>
    <p class="fs-5">
      YOU AGREE NOT TO USE THE SERVICES TO: VIOLATE THE TERMS AND CONDITIONS,
      THE "PRIVACY POLICY," OR ANY OTHER APPLICABLE LAW. <br /><br />
    </p>
    <ul class="aboutUList">
      <li>Use our services by pretending to be someone else.</li>
      <li>
        Publish, distribute, or post any sexually explicit content that violates
        the privacy policies, can be regarded as obscenity, invades another
        person's privacy, is racially or ethnically offensive, or is otherwise
        objectionable.
      </li>
      <li>
        Sharing any content that could be subject to copyright restrictions,
        violates such limits, or is the intellectual property of someone other
        than the sharer.
      </li>
      <li>
        I am sharing solicitations or adverts on the platform that has nothing
        to do with the company without authorization from the services.
      </li>
      <li>
        Make the platform vulnerable to any malware, threats, encrypted data,
        applications, material, or images that impede the functioning of the
        services and other users.
      </li>
      <li>
        Subvert the entity's services and specifically harm the website's
        content.
      </li>
      <li>
        Attempt unauthorized access to the network systems, servers, or
        services.
      </li>
    </ul>
    <h2 class="mb-2 mt-4">Governing Law:</h2>
    <p class="fs-5">
      We want to make your purchasing experience better and more efficient while
      also considering your concerns and problems. You may reach us at
      admin@theshopppingeaze.com to express your thoughts.<br /><br />
      Any legal disputes or claims relating to these terms and conditions should
      be handled following California law. By using the services, you consent to
      legal issues decided by California law in federal or state courts.
    </p>
    <h2 class="mb-2 mt-4">Limitation Of Liability:</h2>
    <p class="fs-5">
      Our staff and we put much effort into providing and compiling the coupons,
      curating the material, and developing the most incredible lifestyle hacks
      and recommendations for you. The goods and services advertised on the
      platform are provided "as is" by independent websites. However, we cannot
      promise that any material posted on the forum will be error-free,
      uninterrupted or that the programs will always function as intended or be
      secure, safe, or free from flaws or delays. We DISCLAIM ALL WARRANTIES,
      IMPLIED OR EXPRESS, INCLUDING THE WARRANTIES IMPLIED BY THIRD PARTIES,
      MERCHANTS, VENDORS, FITNESS FOR A PARTICULAR PURPOSE, AND
      NON-INFRINGEMENT, TO THE EXTENT PERMITTED BY LAW.
    </p>
    <h2 class="mb-2 mt-4">
      Right, To Use Our Services OR Clauses Relating To intellectual Property:
    </h2>
    <p class="fs-5">
      You are granted a personal, non-exclusive, non-transferable, global,
      royalty-free license to use the service by Outonbudget. The support and
      rights permit only private and non-commercial use of the services.<br /><br />
      Nothing grants you the right to use the service, the information, photos,
      material, or coupons accessible on the service for your benefit or use in
      a business. All content and images featured on the website are the
      exclusive property of Outonbudget. You are not obligated to let us use any
      comments, recommendations, or feedback you provide about the services in
      any way we see proper.
    </p>
    <h2 class="mb-2 mt-4">Information On How To Contact Us:</h2>
    <p class="fs-5">
      We welcome and value any feedback you may have on the Outonbudget.<br /><br />
      Outonbudget LTD is the company in charge of the services, and you may
      contact us with any questions or criticisms at our email.
    </p>
    <h2 class="mb-2 mt-4">
      Third-Party Advertisements, Content, And Promotions:
    </h2>
    <p class="fs-5">
      The platform's services and content may connect to third-party websites;
      however, the relevant notice will be given whenever a link is included in
      the content to promote anything or for marketing or advertising
      reasons.<br /><br />
      Despite our best efforts, Outonbudget has no control over third-party
      content or advertising that may appear on our website. It is essential to
      recognize that the adverts we display for networks, shops, and sellers
      might change anytime. <br /><br />The statements expressed in any adverts,
      in any material, or on any third-party platforms are not the
      responsibility of Outonbudget. We categorically deny being able to verify
      or support any claims made by third-party platforms.
    </p>

    <h2 class="mb-2 mt-4">Agreement</h2>
    <p class="fs-5">
      THESE TERMS AND CONDITIONS ARE AGREED TO, BUT THESHOPPINGEAZE RESERVES THE
      RIGHT TO AMEND THEM AT ANY TIME WITHOUT NOTIFICATION TO ITS USERS.
      However, if the terms mentioned above and conditions alter at any moment,
      a notice will be posted on this internet page. Before using the services,
      please check the updated date. You agree to abide by all the terms above
      and conditions by utilizing our services.
    </p>
    <br />
  </div>
</div>
