@font-face {
  font-family: poppinslight;
  src: url("../fonts/poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: poppinsmedium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: poppinsblack;
  src: url("../fonts/poppins/Poppins-Black.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poppinsmedium;
}
.cursor-pointer{
  cursor: pointer;
}