@font-face {
  font-family: poppinslight;
  src: url("../fonts/poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: poppinsmedium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: poppinsblack;
  src: url("../fonts/poppins/Poppins-Black.ttf");
}
@font-face {
  font-family: grotesquehead;
  src: url("../fonts/grotesque/LabGrotesque-Bold.ttf");
}
@font-face {
  font-family: grotesqueregular;
  src: url("../fonts/grotesque/LabGrotesque-Regular.ttf");
}
@font-face {
  font-family: tiempostregular;
  src: url("../fonts/tiempos/TiemposText-Regular.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: grotesquehead;
}
p {
  font-family: grotesqueregular;
}
.cursor-pointer {
  cursor: pointer;
}
div.elevatedCard {
  background-color: transparent;
  border: none;
}
div.elevatedCard div.card-body {
  width: 96%;
  margin: 0 auto;
  position: relative;
  top: -3vh;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
}
