<div id="categoriesRoute">
  <br />
  <br />
  <div class="container">
    <h2 class="text-center text-capitalize fw-bold">
      Choose That Fits Your Need...
    </h2>
    <br />
    <br />
    <div class="row">
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/a/Ancestry_com_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/u/UberEats_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/b/Bath_and_Body_Works.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/a/Ancestry_com_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/u/UberEats_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/b/Bath_and_Body_Works.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/a/Ancestry_com_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/u/UberEats_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/b/Bath_and_Body_Works.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/a/Ancestry_com_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/u/UberEats_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/b/Bath_and_Body_Works.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/a/Ancestry_com_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/u/UberEats_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/b/Bath_and_Body_Works.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/a/Ancestry_com_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/u/UberEats_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/b/Bath_and_Body_Works.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/a/Ancestry_com_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/u/UberEats_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/b/Bath_and_Body_Works.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/a/Ancestry_com_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/u/UberEats_Logo.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mb-4 cursor-pointer" [routerLink]="['/category', 'categoryname']">
        <div class="card categoriesCard shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//images/b/Bath_and_Body_Works.png"
            class="card-img-top"
          />
          <div class="card-body">
            <p class="card-text">Category</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
