<div id="categoryBlogRoute">
  <br />
  <br />
  <div class="container">
    <h2 class="text-start fw-bold">
      <span class="text-uppercase">{{ routeParam }}</span> Blogs
    </h2>
    <br />
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="card elevatedCard" [routerLink]="['/blog', 'blogname']">
          <img src="../../assets/dummyimages/cp1.jpg" class="card-img-top" />
          <div class="card-body px-4">
            <div>
              <div class="d-flex w-100 justify-content-between px-3">
                <small><b>Danish</b> wrote</small>
                <small class="text-muted">Aug 15</small>
              </div>
              <h6 class="mt-2 pt-1 fw-semibold mb-3 fs-5">
                First Blog heading tester
              </h6>
              <p class="mb-1 couponDescription">
                Get Up to $20 Off with This Walmart Coupon Code Get Up to $20
                Off with This Walmart Coupon Code
              </p>
              <button type="button" class="btn btn-outline-dark mt-2 mb-1">
                Read Full Blog
                <fa-icon [icon]="faArrowRightLong" class="arrowRight"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card elevatedCard" [routerLink]="['/blog', 'blogname']">
          <img src="../../assets/dummyimages/cp3.jpg" class="card-img-top" />
          <div class="card-body px-4">
            <div>
              <div class="d-flex w-100 justify-content-between px-3">
                <small><b>Danish</b> wrote</small>
                <small class="text-muted">Aug 15</small>
              </div>
              <h6 class="mt-2 pt-1 fw-semibold mb-3 fs-5">
                First Blog heading tester
              </h6>
              <p class="mb-1 couponDescription">
                Get Up to $20 Off with This Walmart Coupon Code Get Up to $20
                Off with This Walmart Coupon Code
              </p>
              <button type="button" class="btn btn-outline-dark mt-2 mb-1">
                Read Full Blog
                <fa-icon [icon]="faArrowRightLong" class="arrowRight"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card elevatedCard" [routerLink]="['/blog', 'blogname']">
          <img src="../../assets/dummyimages/cp2.jpg" class="card-img-top" />
          <div class="card-body px-4">
            <div>
              <div class="d-flex w-100 justify-content-between px-3">
                <small><b>Danish</b> wrote</small>
                <small class="text-muted">Aug 15</small>
              </div>
              <h6 class="mt-2 pt-1 fw-semibold mb-3 fs-5">
                First Blog heading tester
              </h6>
              <p class="mb-1 couponDescription">
                Get Up to $20 Off with This Walmart Coupon Code Get Up to $20
                Off with This Walmart Coupon Code
              </p>
              <button type="button" class="btn btn-outline-dark mt-2 mb-1">
                Read Full Blog
                <fa-icon [icon]="faArrowRightLong" class="arrowRight"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card elevatedCard" [routerLink]="['/blog', 'blogname']">
          <img src="../../assets/dummyimages/cp3.jpg" class="card-img-top" />
          <div class="card-body px-4">
            <div>
              <div class="d-flex w-100 justify-content-between px-3">
                <small><b>Danish</b> wrote</small>
                <small class="text-muted">Aug 15</small>
              </div>
              <h6 class="mt-2 pt-1 fw-semibold mb-3 fs-5">
                First Blog heading tester
              </h6>
              <p class="mb-1 couponDescription">
                Get Up to $20 Off with This Walmart Coupon Code Get Up to $20
                Off with This Walmart Coupon Code
              </p>
              <button type="button" class="btn btn-outline-dark mt-2 mb-1">
                Read Full Blog
                <fa-icon [icon]="faArrowRightLong" class="arrowRight"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card elevatedCard" [routerLink]="['/blog', 'blogname']">
          <img src="../../assets/dummyimages/cp2.jpg" class="card-img-top" />
          <div class="card-body px-4">
            <div>
              <div class="d-flex w-100 justify-content-between px-3">
                <small><b>Danish</b> wrote</small>
                <small class="text-muted">Aug 15</small>
              </div>
              <h6 class="mt-2 pt-1 fw-semibold mb-3 fs-5">
                First Blog heading tester
              </h6>
              <p class="mb-1 couponDescription">
                Get Up to $20 Off with This Walmart Coupon Code Get Up to $20
                Off with This Walmart Coupon Code
              </p>
              <button type="button" class="btn btn-outline-dark mt-2 mb-1">
                Read Full Blog
                <fa-icon [icon]="faArrowRightLong" class="arrowRight"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card elevatedCard" [routerLink]="['/blog', 'blogname']">
          <img src="../../assets/dummyimages/cp1.jpg" class="card-img-top" />
          <div class="card-body px-4">
            <div>
              <div class="d-flex w-100 justify-content-between px-3">
                <small><b>Danish</b> wrote</small>
                <small class="text-muted">Aug 15</small>
              </div>
              <h6 class="mt-2 pt-1 fw-semibold mb-3 fs-5">
                First Blog heading tester
              </h6>
              <p class="mb-1 couponDescription">
                Get Up to $20 Off with This Walmart Coupon Code Get Up to $20
                Off with This Walmart Coupon Code
              </p>
              <button type="button" class="btn btn-outline-dark mt-2 mb-1">
                Read Full Blog
                <fa-icon [icon]="faArrowRightLong" class="arrowRight"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <h2 class="text-start fw-bold">
      <span class="text-uppercase">{{ routeParam }}</span> Deals & Coupons
    </h2>
    <br />
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="card mb-4 shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//602x316_Sennheiser_1.jpg"
            class="card-img-top couponStoreImg"
          />
          <div class="card-body">
            <h6 class="mb-1 pt-1 fw-semibold">Deal</h6>
            <p class="mb-1 fs-5">Spend over $150 and score a $30 Gift card</p>
            <button type="button" class="btn btn-outline-dark float-end">
              Get Deal
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card mb-4 shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//officedepot_602x316_2.jpg"
            class="card-img-top couponStoreImg"
          />
          <div class="card-body">
            <h6 class="mb-1 pt-1 fw-semibold">Deal</h6>
            <p class="mb-1 fs-5">Spend over $150 and score a $30 Gift card</p>
            <button type="button" class="btn btn-outline-dark float-end">
              Get Deal
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card mb-4 shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//602x316_lordTAylor_1.jpg"
            class="card-img-top couponStoreImg"
          />
          <div class="card-body">
            <h6 class="mb-1 pt-1 fw-semibold">Deal</h6>
            <p class="mb-1 fs-5">Spend over $150 and score a $30 Gift card</p>
            <button type="button" class="btn btn-outline-dark float-end">
              Get Deal
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card mb-4 shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//602x316_4wp--1-_1.jpg"
            class="card-img-top couponStoreImg"
          />
          <div class="card-body">
            <h6 class="mb-1 pt-1 fw-semibold">Deal</h6>
            <p class="mb-1 fs-5">Spend over $150 and score a $30 Gift card</p>
            <button type="button" class="btn btn-outline-dark float-end">
              Get Deal
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card mb-4 shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//602x316_Express_1.jpg"
            class="card-img-top couponStoreImg"
          />
          <div class="card-body">
            <h6 class="mb-1 pt-1 fw-semibold">Deal</h6>
            <p class="mb-1 fs-5">Spend over $150 and score a $30 Gift card</p>
            <button type="button" class="btn btn-outline-dark float-end">
              Get Deal
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card mb-4 shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//allsaints_602x316_1.jpg"
            class="card-img-top couponStoreImg"
          />
          <div class="card-body">
            <h6 class="mb-1 pt-1 fw-semibold">Deal</h6>
            <p class="mb-1 fs-5">Spend over $150 and score a $30 Gift card</p>
            <button type="button" class="btn btn-outline-dark float-end">
              Get Deal
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card mb-4 shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//J.Crew_602x316_Aug_2.jpeg"
            class="card-img-top couponStoreImg"
          />
          <div class="card-body">
            <h6 class="mb-1 pt-1 fw-semibold">Deal</h6>
            <p class="mb-1 fs-5">Spend over $150 and score a $30 Gift card</p>
            <button type="button" class="btn btn-outline-dark float-end">
              Get Deal
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card mb-4 shadow">
          <img
            src="https://coupons.businessinsider.com/images/256x//Boohooman_602_316_NoLogo_1.jpg"
            class="card-img-top couponStoreImg"
          />
          <div class="card-body">
            <h6 class="mb-1 pt-1 fw-semibold">Deal</h6>
            <p class="mb-1 fs-5">Spend over $150 and score a $30 Gift card</p>
            <button type="button" class="btn btn-outline-dark float-end">
              Get Deal
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
