<div class="container">
  <h2
    class="text-start text-uppercase fw-bolder border-bottom border-4 pb-3 mb-3"
  >
    Ex-aide to George Santos says he paid the lawmaker's deputy at least $1,050
    in a bid to land a job: AP
  </h2>
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <p class="fs-6 mb-3">
        <b class="text-primary">Martin </b>wrote on
        <b class="text-black-50">21 Aug</b>
      </p>
      <img
        src="https://i.insider.com/6478c49910ab0a0018f03074?width=1000&format=jpeg&auto=webp"
        alt="Blog image"
      />
      <br />
      <br />
      <br />
      <p class="fs-5">
        A former aide to Rep. George Santos says he paid one of the lawmakers'
        deputies at least $1,050 as part of a bid to land a congressional office
        job, the <a>Associated Press reported</a>.<br /><br />
        Derek Myers, who was fired by the New York Republican, told House ethics
        staffers that he sent at least seven payments of $150 to Santos'
        director of operations, Vish Burra, while trying to get a job in
        January.<br /><br />
        Myers, who served as a legislative assistant for less than a week,
        shared details about the payments with the AP, saying he sent the money
        unsolicited because he thought Burra wasn't getting paid and couldn't
        afford food but also because he hoped he'd secure employment, according
        to the AP.<br /><br />
        Burra did not immediately respond to Insider's request for comment, and
        he declined to comment to the AP.<br /><br />
        Myers discussed the payments with House investigators probing his
        allegations of workplace sexual harassment after he was terminated in
        February, the AP reported.<br /><br />
        Santos, who has acknowledged fabricating his biography, is the subject
        of multiple investigations. He faces federal charges of fraud and money
        laundering.<br /><br />
        A former aide to Rep. George Santos says he paid one of the lawmakers'
        deputies at least $1,050 as part of a bid to land a congressional office
        job, the Associated Press reported.<br /><br />
        Derek Myers, who was fired by the New York Republican, told House ethics
        staffers that he sent at least seven payments of $150 to Santos'
        director of operations, Vish Burra, while trying to get a job in
        January.<br /><br />
        Myers, who served as a legislative assistant for less than a week,
        shared details about the payments with the AP, saying he sent the money
        unsolicited because he thought Burra wasn't getting paid and couldn't
        afford food but also because he hoped he'd secure employment, according
        to the AP.<br /><br />
        Burra did not immediately respond to Insider's request for comment, and
        he declined to comment to the AP.<br /><br />
        Myers discussed the payments with House investigators probing his
        allegations of workplace sexual harassment after he was terminated in
        February, the AP reported.<br /><br />
        Santos, who has acknowledged fabricating his biography, is the subject
        of multiple investigations. He faces federal charges of fraud and money
        laundering.<br /><br />
        A former aide to Rep. George Santos says he paid one of the lawmakers'
        deputies at least $1,050 as part of a bid to land a congressional office
        job, the Associated Press reported.<br /><br />
        Derek Myers, who was fired by the New York Republican, told House ethics
        staffers that he sent at least seven payments of $150 to Santos'
        director of operations, Vish Burra, while trying to get a job in
        January.<br /><br />
        Myers, who served as a legislative assistant for less than a week,
        shared details about the payments with the AP, saying he sent the money
        unsolicited because he thought Burra wasn't getting paid and couldn't
        afford food but also because he hoped he'd secure employment, according
        to the AP.<br /><br />
        Burra did not immediately respond to Insider's request for comment, and
        he declined to comment to the AP.<br /><br />
        Myers discussed the payments with House investigators probing his
        allegations of workplace sexual harassment after he was terminated in
        February, the AP reported.<br /><br />
        Santos, who has acknowledged fabricating his biography, is the subject
        of multiple investigations. He faces federal charges of fraud and money
        laundering.<br />
      </p>
    </div>
    <div class="col-md-3 col-sm-12"></div>
  </div>
  <hr />
  <br />
  <h3 class="text-start fw-bold mb-5">Related Blogs</h3>
  <div class="row">
    <div class="col-md-4 col-sm-12 mb-3">
      <div class="card elevatedCard">
        <img src="../../assets/dummyimages/cp1.jpg" class="card-img-top" />
        <div class="card-body px-4">
          <div>
            <div class="d-flex w-100 justify-content-between">
              <small><b>Danish</b> wrote</small>
              <small class="text-muted">Aug 15</small>
            </div>
            <h6 class="mt-2 pt-1 fw-semibold mb-3 fs-5">
              First Blog heading tester
            </h6>
            <p class="mb-1 couponDescription">
              Get Up to $20 Off with This Walmart Coupon Code Get Up to $20 Off
              with This Walmart Coupon Code
            </p>
            <button type="button" class="btn btn-outline-dark mt-2 mb-1">
              Read Full Blog
              <fa-icon [icon]="faArrowRightLong" class="arrowRight"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3">
      <div class="card elevatedCard">
        <img src="../../assets/dummyimages/cp1.jpg" class="card-img-top" />
        <div class="card-body px-4">
          <div>
            <div class="d-flex w-100 justify-content-between">
              <small><b>Danish</b> wrote</small>
              <small class="text-muted">Aug 15</small>
            </div>
            <h6 class="mt-2 pt-1 fw-semibold mb-3 fs-5">
              First Blog heading tester
            </h6>
            <p class="mb-1 couponDescription">
              Get Up to $20 Off with This Walmart Coupon Code Get Up to $20 Off
              with This Walmart Coupon Code
            </p>
            <button type="button" class="btn btn-outline-dark mt-2 mb-1">
              Read Full Blog
              <fa-icon [icon]="faArrowRightLong" class="arrowRight"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3">
      <div class="card elevatedCard">
        <img src="../../assets/dummyimages/cp1.jpg" class="card-img-top" />
        <div class="card-body px-4">
          <div>
            <div class="d-flex w-100 justify-content-between">
              <small><b>Danish</b> wrote</small>
              <small class="text-muted">Aug 15</small>
            </div>
            <h6 class="mt-2 pt-1 fw-semibold mb-3 fs-5">
              First Blog heading tester
            </h6>
            <p class="mb-1 couponDescription">
              Get Up to $20 Off with This Walmart Coupon Code Get Up to $20 Off
              with This Walmart Coupon Code
            </p>
            <button type="button" class="btn btn-outline-dark mt-2 mb-1">
              Read Full Blog
              <fa-icon [icon]="faArrowRightLong" class="arrowRight"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3">
      <div class="card elevatedCard">
        <img src="../../assets/dummyimages/cp1.jpg" class="card-img-top" />
        <div class="card-body px-4">
          <div>
            <div class="d-flex w-100 justify-content-between">
              <small><b>Danish</b> wrote</small>
              <small class="text-muted">Aug 15</small>
            </div>
            <h6 class="mt-2 pt-1 fw-semibold mb-3 fs-5">
              First Blog heading tester
            </h6>
            <p class="mb-1 couponDescription">
              Get Up to $20 Off with This Walmart Coupon Code Get Up to $20 Off
              with This Walmart Coupon Code
            </p>
            <button type="button" class="btn btn-outline-dark mt-2 mb-1">
              Read Full Blog
              <fa-icon [icon]="faArrowRightLong" class="arrowRight"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3">
      <div class="card elevatedCard">
        <img src="../../assets/dummyimages/cp1.jpg" class="card-img-top" />
        <div class="card-body px-4">
          <div>
            <div class="d-flex w-100 justify-content-between">
              <small><b>Danish</b> wrote</small>
              <small class="text-muted">Aug 15</small>
            </div>
            <h6 class="mt-2 pt-1 fw-semibold mb-3 fs-5">
              First Blog heading tester
            </h6>
            <p class="mb-1 couponDescription">
              Get Up to $20 Off with This Walmart Coupon Code Get Up to $20 Off
              with This Walmart Coupon Code
            </p>
            <button type="button" class="btn btn-outline-dark mt-2 mb-1">
              Read Full Blog
              <fa-icon [icon]="faArrowRightLong" class="arrowRight"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3">
      <div class="card elevatedCard">
        <img src="../../assets/dummyimages/cp1.jpg" class="card-img-top" />
        <div class="card-body px-4">
          <div>
            <div class="d-flex w-100 justify-content-between">
              <small><b>Danish</b> wrote</small>
              <small class="text-muted">Aug 15</small>
            </div>
            <h6 class="mt-2 pt-1 fw-semibold mb-3 fs-5">
              First Blog heading tester
            </h6>
            <p class="mb-1 couponDescription">
              Get Up to $20 Off with This Walmart Coupon Code Get Up to $20 Off
              with This Walmart Coupon Code
            </p>
            <button type="button" class="btn btn-outline-dark mt-2 mb-1">
              Read Full Blog
              <fa-icon [icon]="faArrowRightLong" class="arrowRight"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
