<div class="container">
  <br />
  <br />
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active">Economy</li>
    </ol>
  </nav>
  <br />
  <h2
    class="text-start text-capitalize fw-bolder border-bottom border-4 pb-3 mb-3 fs-2"
  >
    The Brooklyn landlord everyone hates could soon come to your neighborhood.
    Tenants warn these private equity groups are raising rent and ignoring
    maintenance issues.
  </h2>
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <p class="fs-6 mb-3">
        <b class="hover-underline fw-bolder">Eliza Rehman </b>
        <span class="text-muted">Aug 16, 2023, 10:50 PM GMT+5</span>
      </p>
      <img
        src="https://i.insider.com/64dcdf0b4ef9f30019f80a2d?width=1000&format=jpeg&auto=webp"
        class="mw-100"
      />
      <br />
      <br />
      <br />
      <p class="fs-5">
        A former aide to Rep. George Santos says he paid one of the lawmakers'
        deputies at least $1,050 as part of a bid to land a congressional office
        job, the <a>Associated Press reported</a>.<br /><br />
        Derek Myers, who was fired by the New York Republican, told House ethics
        staffers that he sent at least seven payments of $150 to Santos'
        director of operations, Vish Burra, while trying to get a job in
        January.<br /><br />
        Myers, who served as a legislative assistant for less than a week,
        shared details about the payments with the AP, saying he sent the money
        unsolicited because he thought Burra wasn't getting paid and couldn't
        afford food but also because he hoped he'd secure employment, according
        to the AP.<br /><br />
        Burra did not immediately respond to Insider's request for comment, and
        he declined to comment to the AP.<br /><br />
        Myers discussed the payments with House investigators probing his
        allegations of workplace sexual harassment after he was terminated in
        February, the AP reported.<br /><br />
        Santos, who has acknowledged fabricating his biography, is the subject
        of multiple investigations. He faces federal charges of fraud and money
        laundering.<br /><br />
        A former aide to Rep. George Santos says he paid one of the lawmakers'
        deputies at least $1,050 as part of a bid to land a congressional office
        job, the Associated Press reported.<br /><br />
        Derek Myers, who was fired by the New York Republican, told House ethics
        staffers that he sent at least seven payments of $150 to Santos'
        director of operations, Vish Burra, while trying to get a job in
        January.<br /><br />
        Myers, who served as a legislative assistant for less than a week,
        shared details about the payments with the AP, saying he sent the money
        unsolicited because he thought Burra wasn't getting paid and couldn't
        afford food but also because he hoped he'd secure employment, according
        to the AP.<br /><br />
        Burra did not immediately respond to Insider's request for comment, and
        he declined to comment to the AP.<br /><br />
        Myers discussed the payments with House investigators probing his
        allegations of workplace sexual harassment after he was terminated in
        February, the AP reported.<br /><br />
        Santos, who has acknowledged fabricating his biography, is the subject
        of multiple investigations. He faces federal charges of fraud and money
        laundering.<br /><br />
        A former aide to Rep. George Santos says he paid one of the lawmakers'
        deputies at least $1,050 as part of a bid to land a congressional office
        job, the Associated Press reported.<br /><br />
        Derek Myers, who was fired by the New York Republican, told House ethics
        staffers that he sent at least seven payments of $150 to Santos'
        director of operations, Vish Burra, while trying to get a job in
        January.<br /><br />
        Myers, who served as a legislative assistant for less than a week,
        shared details about the payments with the AP, saying he sent the money
        unsolicited because he thought Burra wasn't getting paid and couldn't
        afford food but also because he hoped he'd secure employment, according
        to the AP.<br /><br />
        Burra did not immediately respond to Insider's request for comment, and
        he declined to comment to the AP.<br /><br />
        Myers discussed the payments with House investigators probing his
        allegations of workplace sexual harassment after he was terminated in
        February, the AP reported.<br /><br />
        Santos, who has acknowledged fabricating his biography, is the subject
        of multiple investigations. He faces federal charges of fraud and money
        laundering.<br />
      </p>
    </div>
    <div class="col-md-3 col-sm-12"></div>
  </div>
  <hr />
  <br />
  <h3 class="text-start fw-bold mb-5 text-decoration-underline">Related News</h3>
  <div class="row">
      <div class="col-md-8 col-sm-12">
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/600b0163933f110019311186?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64dc9f975e5d5a00195f0280?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64dc8e5b4ef9f30019f7d1a6?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64da91b45e5d5a00195ddb4d?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/600b0163933f110019311186?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64dc9f975e5d5a00195f0280?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64dc8e5b4ef9f30019f7d1a6?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/64da91b45e5d5a00195ddb4d?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
        <div
          class="row border-bottom pb-4 mb-5 cursor-pointer align-items-center"
        >
          <div class="col-md-7 col-sm-12">
            <p class="text-primary fw-semibold mb-2 pt-1 mt-3">
              ECONOMY &nbsp;<span class="text-muted" style="font-size: 0.8em"
                >4 hour ago</span
              >
            </p>
            <h4
              class="text-capitalize mb-2 fs-5 hover-underline"
              [routerLink]="['/news', 'newsId']"
            >
              'Rich Dad Poor Dad' author Robert Kiyosaki slams Janet Yellen for
              trumpeting Bidenomics: 'What is she smoking?'
            </h4>
            <p class="fs-5">
              The Treasury Secretary on Monday cheered President Biden's
              policies for driving economic growth at a time when Americans are
              financially strapped.
            </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img
              src="https://i.insider.com/600b0163933f110019311186?width=400&format=jpeg&auto=webp"
              class="mw-100"
            />
          </div>
        </div>
      </div>
    </div>
</div>
