<div id="homeRoute">
  <div class="container mt-5">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: !switch }"
          (click)="changeTab(0)"
          >Top Stories</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: switch }"
          (click)="changeTab(1)"
          >Latest</a
        >
      </li>
    </ul>
    <br />
    <br />
    <div class="row" *ngIf="!switch">
      <div class="col-md-5 col-sm-12 pe-4">
        <h2
          class="fw-bolder fs-2 hover-underline"
          [routerLink]="['/news', 'newsId']"
        >
          China’s economy is way more screwed than anyone thought
        </h2>
        <br />
        <ul class="list-group newsList">
          <li class="list-group-item">
            Wall Street was expecting the China's economy to boom after its
            post-COVID reopening.
          </li>
          <li class="list-group-item">
            But with disappointing industrial production, slowed trade, and a
            private sector that's running scared, those dreams have officially
            gone bust.
          </li>
          <li class="list-group-item">
            The end of China's economic miracle is going to drive down stocks on
            Wall Street — and drive up prices for everyone.
          </li>
        </ul>
        <br />
        <span
          class="badge rounded-pill text-bg-primary py-2 px-3 cursor-pointer mb-3"
          [routerLink]="['/news', 'newsId']"
          >READ MORE</span
        >
        <br />
        <hr class="mb-0" />
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            Bezos is back at it with another hot yacht summer
          </li>
          <li
            class="list-group-item fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            'I moved to Germany and regret it'
          </li>
          <li
            class="list-group-item fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            The one question the Microsoft CEO asks to test AI's smarts
          </li>
          <li
            class="list-group-item fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            What to expect from today's Fed decision
          </li>
          <li
            class="list-group-item fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            People are impersonating homeowners to take out mortgages and steal
            the money
          </li>
          <li
            class="list-group-item fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            In Ukraine's counteroffensive, 'the big fireworks are still to come'
          </li>
        </ul>
      </div>
      <div class="col-md-7 col-sm-12 pe-4">
        <img
          src="https://i.insider.com/64877cd55dd05600196390b9?width=1000&format=jpeg&auto=webp"
          class="newsImg"
        />
      </div>
    </div>
    <div class="row" *ngIf="switch">
      <div class="col-md-5 col-sm-12 pe-4">
        <h2 class="fw-bolder fs-2" [routerLink]="['/news', 'newsId']">
          It was a great week for the economy
        </h2>
        <br />
        <ul class="list-group newsList">
          <li class="list-group-item">
            New retail sales numbers, inflation, and a pause in rate hikes point
            to a strong week in the economy.
          </li>
          <li class="list-group-item">
            This data shows the economy may be on its way to balancing lowering
            inflation with maintaining growth.
          </li>
          <li class="list-group-item">
            Retail sales rose 0.3% from April to May as consumers spent more
            across the board.
          </li>
        </ul>
        <br />
        <span
          class="badge rounded-pill text-bg-primary py-2 px-3 cursor-pointer mb-3"
          [routerLink]="['/news', 'newsId']"
          >READ MORE</span
        >
        <br />
        <hr class="mb-0" />
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            Putin warns the West of Russian tactical nukes being put in Belarus
          </li>
          <li
            class="list-group-item fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            Kourtney Kardashian surprised Travis Barker with pregnancy at
            concert
          </li>
          <li
            class="list-group-item fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            Elon Musk asks: 'If I'm so smart, why did I pay so much for
            Twitter?'
          </li>
          <li
            class="list-group-item fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            Stop quiet quitting and start 'quiet thriving' to boost your career
          </li>
          <li
            class="list-group-item fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            The out-of-office message you need if you have Juneteenth off
          </li>
          <li
            class="list-group-item fw-bolder hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            In Ukraine's counteroffensive, 'the big fireworks are still to come'
          </li>
        </ul>
      </div>
      <div class="col-md-7 col-sm-12 pe-4">
        <img
          src="https://i.insider.com/6387af99d346c10018949a1b?width=1000&format=jpeg&auto=webp"
          class="newsImg"
        />
      </div>
    </div>
    <br />
    <hr />
    <div class="row">
      <div class="col-md-3 col-sm-12 px-2">
        <br />
        <h4 class="fs-4">Popular Right Now</h4>
        <br />
        <ul class="list-group">
          <li class="list-group-item d-flex flex-row border-0 px-0">
            <span class="text-primary fs-2 me-4">1</span>
            <span
              class="fs-5 fw-bold hover-underline"
              [routerLink]="['/news', 'newsId']"
              >American who relocated to Germany details disappointing
              experience, regret</span
            >
          </li>
          <li class="list-group-item d-flex flex-row border-0 px-0">
            <span class="text-primary fs-2 me-4">2</span>
            <span
              class="fs-5 fw-bold hover-underline"
              [routerLink]="['/news', 'newsId']"
              >Climber saved from Mt Everest accused of refusing to pay rescue
              fee</span
            >
          </li>
          <li class="list-group-item d-flex flex-row border-0 px-0">
            <span class="text-primary fs-2 me-4">3</span>
            <span
              class="fs-5 fw-bold hover-underline"
              [routerLink]="['/news', 'newsId']"
              >China's economy is imploding. That's a problem for US, Wall
              Street.</span
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12 px-3">
        <br />
        <p
          class="text-primary fw-semibold mb-3 pt-1 hover-underline"
          [routerLink]="['/newsbytype', 'economy']"
        >
          ECONOMY
        </p>
        <br />
        <div>
          <img
            src="https://i.insider.com/64891da262d3f100199688ca?width=200&format=jpeg&auto=webp"
            class="float-end w-25 my-2"
          />
          <span
            class="fs-5 fw-bold hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            Russia has lost so much money due to the Ukraine war that it's now
            trying to raise $4 billion by slapping and
          </span>
          <br />
          <br />
          <span class="fs-5"
            >The proposed law is set to require Russian companies that made
            profits of more than 1 billion rubles each year since 2021 to pay a
            one-off 10% tax.</span
          >
        </div>
      </div>
      <div class="col-md-3 col-sm-12 px-3">
        <br />
        <p
          class="text-primary fw-semibold mb-3 pt-1 hover-underline"
          [routerLink]="['/newsbytype', 'tech']"
        >
          TECH
        </p>
        <br />
        <div>
          <img
            src="https://i.insider.com/639a061727c0a700193e1d1f?width=200&format=jpeg&auto=webp"
            class="float-end w-25 my-2"
          />
          <span
            class="fs-5 fw-bold hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            A leaked document of Amazon's ideas for using ChatGPT and AI at work
            lists 67 ways to take advantage of the ChatGPT boom
          </span>
          <br />
          <br />
          <span class="fs-5"
            >The document is a glimpse at all the behind-the-scenes work Amazon
            is doing to address the sudden rise of ChatGPT and other AI chatbot
            apps.</span
          >
        </div>
      </div>
      <div class="col-md-3 col-sm-12 px-3">
        <br />
        <p
          class="text-primary fw-semibold mb-3 pt-1 hover-underline"
          [routerLink]="['/newsbytype', 'careers']"
        >
          CAREERS
        </p>
        <br />
        <div>
          <img
            src="https://i.insider.com/648822da43c1740019300508?width=200&format=jpeg&auto=webp"
            class="float-end w-25 my-2"
          />
          <span
            class="fs-5 fw-bold hover-underline"
            [routerLink]="['/news', 'newsId']"
          >
            Gen Z and millennial workers feel confused, irritated, and left out
            by endless 'workplace jargon' in the office, LinkedIn research shows
          </span>
          <br />
          <br />
          <span class="fs-5"
            >Young professionals are puzzled by workplace lingo, with more than
            half saying that they had looked up a word in a meeting to
            understand its meaning.</span
          >
        </div>
      </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
      <div class="col-md-3 col-sm-12 text-center">
        <img
          src="https://www.insider.com/public/assets/rebrand/newsletter-mailbox.png"
        />
      </div>
      <div class="col-md-8 col-sm-12 ps-3">
        <h5 class="fw-bolder text-dark fs-4">Sign up for OutOnaBudget Today</h5>
        <p class="fs-5">
          Top editors give you the stories you want — delivered right to your
          inbox every day
        </p>
        <br />
        <div class="input-group mb-1 input-group-lg">
          <input
            type="email"
            id="subscriptionInput"
            class="form-control py-3"
            placeholder="Email Address"
            aria-label="Email Address"
            aria-describedby="subscription-box"
          />
          <button
            class="btn btn-dark border-0 fs-5 rounded-pill ms-3 px-5 py-3"
            type="button"
            id="subscription-box"
          >
            SIGN UP
          </button>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
<br />
